body{
    margin: 0;
    padding: 0;
}

#btnTarget{
    margin-bottom: 20px;
}

#gifTarget{
    width: 60%;
}

form{
    margin-bottom: 10px;
}

.gif{
    float: left;
    margin: 2px;
    border: 3px solid black;
}