body{
    background-image: url("../images/food.png");
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Arimo', sans-serif;
    
}

p{
    text-align: center;
}

h1{
    text-align: center;
    color: #44b2ce;
}

#btnTarget{
    margin-bottom: 20px;
}

#gifTarget{
    margin:0 auto;
    width: 90%;
}

.labelBtn{
    margin-right: 3px;
}

form{
    margin-bottom: 10px;
}

.gif{
    background-color: gray;
    color:white;
    float: left;
    margin: 2px;
    border: 3px solid #52c4ab;
}

.gif:hover{
    cursor: pointer;
}

button{
    background-color:#52c4ab;
    color: white;
    border-color:#52c4ab;
}

#toonBtn{
    background-color:#44b2ce;
    color: white;
    border-color: #44b2ce;
}

/* Media Queries */
@media screen and (max-width: 980px){
    
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){  

}